@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=JetBrains+Mono:wght@200&family=Libre+Baskerville&family=Playfair+Display&family=Poppins&family=Press+Start+2P&family=Roboto+Slab:wght@400;500&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #27374d;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.btn {
  opacity: 0.7;
}

.btn:hover {
  opacity: 1;
}

.chat-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.head-container {
  width: 100%;
  padding: 25px;
  background-color: #526d82;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head-container input {
  text-transform: uppercase;

  outline: none;
  background-color: #526d82;
  border: none;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.head-container a {
  text-decoration: none;
}

.message-container {
  max-height: 600px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 5rem 1.5rem 0 1rem;
}

.message-container p {
  position: relative;
}

.sent-bubble {
  background-color: #99aaef;
  left: 15rem;
}

.received-bubble {
  background-color: #6975a5;
}
.typing-feedback p {
  font-size: 150%;
  margin-top: 2rem;
}

.sent-bubble,
.received-bubble {
  max-width: 70%;
  padding: 10px;
  margin: 10px 0 20px;
  text-align: left;
  font-size: 150%;
}

.input-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  font-size: 150%;
}

.input-container input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 120%;
}

.input-container a {
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  color: #27374d;
  margin-left: 20px;
}
